@use "../../styles/_mixin.scss" as *;

.heroSection{
width: 100%;
height: 100vh;
background-color: var(--bgcolor);
position: relative;
display: flex;
justify-content: center;
&__inner{
    width: var(--page-format);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 80px;


    &__text{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &__title{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            & p{
                color: #818CF8;
            }
            & h1{
                color: white;
            }
        }
        &__desc{
            text-align: center;
            & p{
                color: #CBD5E1;
            }
        }
        &__buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            & button{
                min-width: 256px;
            }
        }
    }
}

}


@media (max-width:720px) {
    .heroSection{
        @include mb-pd;

        &__inner{
            gap: 48px;
            &__logo{

                & img{
                    width: 240px;
                    height: 240px;
                }
            }
            &__text{

                &__title{
                    & h1{

                        @include h3;  
                    }
                }
                &__desc{

                    & p{
                        @include bd-m;
                    }
                }
                &__buttons{
                    & button{
                        min-width: 172px;
                    }
                }
            }
        }
    }
}