

/************************** SECTION LAYOUT **************************/
@mixin dt-pd{
    padding: 80px 0;
}
@mixin mb-pd{
    padding: 48px 0;
}
/************************** SECTION LAYOUT **************************/

/************************** TYPOGRAPHY **************************/

/* HEADING CLASSES */
@mixin h1-xl{

    /* Heading/1 XL */
    font-size: 128px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 140@mixin 8px */
}

@mixin h1-l{

    /* Heading/1 L */
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 105@mixin 6px */
}

@mixin h1-m{

    /* Heading/1 M */
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 79@mixin 2px */
}

@mixin h2{

    /* Heading/2 */
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 61@mixin 6px */
}

@mixin h3{

    /* Heading/3 */
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 52@mixin 8px */
}

@mixin h4{

    /* Heading/4 */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */
}

@mixin h5{

    /* Heading/5 */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 35@mixin 2px */
}

@mixin h6{

    /* Heading/6 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 26@mixin 4px */
}
/* HEADING CLASSES */


/* SUBTITLE CLASSES */
@mixin sub-xl{

    /* Subtitle/XL */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
}

@mixin sub-l{

    /* Subtitle/L */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 19@mixin 8px */
}

@mixin sub-m{

    /* Subtitle/M */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17@mixin 6px */
}

@mixin sub-s{

    /* Subtitle/S */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 15@mixin 4px */
}

/* SUBTITLE CLASSES */


/* BODY CLASSES */

@mixin bd-xxxl{

    /* Body/XXXL */
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 51@mixin 2px */
}

@mixin bd-xxl{

    /* Body/XXL */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38@mixin 4px */
}

@mixin bd-xl{

    /* Body/XL */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 36px */
}

@mixin bd-l{

    /* Body/L */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28@mixin 8px */
}

@mixin bd-m{

    /* Body/M */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22@mixin 4px */
}

@mixin bd-s{

    /* Body/S */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19@mixin 6px */
}

@mixin bd-xs{

    /* Body/XS */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16@mixin 8px */
}

@mixin bd-xxs{

    /* Body/XXS */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 14px */
}
/* BODY CLASSES */

/* CAPTION CLASSES */

@mixin cp-m{

    /* Caption/M */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: 3px;
    text-transform: uppercase;
}

@mixin cp-s{

    /* Caption/S */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* CAPTION CLASSES */

/* BUTTON CLASSES */
@mixin btn-xl{

    /* Button/XL */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: 0.5px;
}

@mixin btn-l{

    /* Button/L */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.5px;
}

@mixin btn-m{

    /* Button/M */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

@mixin btn-s{

    /* Button/S */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171@mixin 429% */
    letter-spacing: 0.5px;
}