@use "../../../styles/mixin" as *;
.primaryButton{
    padding: 12px calc(12px + 1rem);
    border-radius: 8px;
    border: 1px solid var(--blue-gray-600, #475569);
    background: var(--blue-gray-700, #334155);
    font-family: inherit;
    color: white;
}

@media (max-width: 720px) {
    .primaryButton{
      @include btn-m;
    }
}